.Grid {
    display: flex;
    position: relative;
    height: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
    &_Container {
        display: flex;

        align-items: flex-end;
        justify-content: center;
    }
}

@media screen and (max-width: 1365px) {
    .Grid {
        width: fit-content;
        flex: 1;
    }
}

#Key {
    margin-left: 5px;
    &:nth-child(1) {
        margin: 0;
    }
}
