.Grid {
    display: flex;
    display: none;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    margin-top: 200px; // Remove !!
}

#Key {
    margin-left: 5px;
    &:nth-child(1) {
        margin: 0;
    }
}
