.Key {
    width: 3px;
    transition: height 0.1s linear;
    background: var(--Black-2);

    &__Selected {
        background: var(--Red-1);
    }

    &__Section {
        background: var(--Blue-1);
    }
}
