.App {
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  flex-flow: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__Container {
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
    overflow-x: auto;
    flex: 1;
    flex-flow: column;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1365px) {
  .App {
    justify-content: flex-start;
    &__Container {
      flex-direction: row;
    }
  }
}
