@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

*,
html,
body {
  --Black-1: #121212;
  --Black-2: rgba(255, 255, 255, 0.16);
  --Black-3: rgba(255, 255, 255, 0.09);
  --Black-4: rgba(255, 255, 255, 0.6);
  --Black-4-Solid: #aaaaaa;
  --Black-5: rgba(255, 255, 255, 0.1);
  --Black-5-Solid: #2a2a2a;
  --White-1: rgba(255, 255, 255, 0.6);
  --Blue-1: #2194f3;
  --Red-1: #f44336;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;

  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background: var(--Black-1);
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background: var(--Black-2);
}

::-webkit-scrollbar-thumb {
  background: var(--White-1);
  transition: background 0.1s ease-out;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--Blue-1);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::selection {
  background: white;
  color: black;
}

@media (hover: none) {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}
