.DisplayPanel {
    display: flex;
    height: 80px;
    background: var(--Black-3);
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1365px) {
    .DisplayPanel {
        width: 80px;
        height: 100%;
    }
}
