$numOfElements: 4;

.Range {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
    justify-content: center;

    &_InputContainer {
        display: flex;
        align-items: center;

        &_Circle {
            position: relative;
            width: 30px;
            height: 30px;
            cursor: pointer;
            background: var(--Black-1);
            appearance: none;
            border: 3px solid var(--Blue-1);
            border-radius: 50%;
            margin-left: 150px;
            transition: transform 0.3s ease-out;
            z-index: 2;
            &:nth-of-type(1) {
                margin-left: 0;
            }
            &:active {
                transform: scale(0.6);
            }
            &:hover {
                transform: scale(1.4);
            }
            &:checked {
                @for $i from 1 through $numOfElements {
                    &:nth-of-type(#{$i}) ~ .Range_InputContainer_Indicator {
                        margin-left: #{180 * ($i - 1) + 7px};
                    }
                }
            }
        }

        &_Line {
            position: absolute;
            width: #{($numOfElements * 30px) + (150px * ($numOfElements - 1))};
            height: 4px;
            background: var(--Blue-1);
            z-index: 0;
        }

        &_Indicator {
            position: absolute;
            width: 16px;
            height: 16px;
            background: var(--Blue-1);
            border-radius: 50%;
            margin-left: 7px;
            transition: margin 0.3s ease-out;
            z-index: 2;
        }
    }

    &_TextContainer {
        display: flex;
        margin-top: 10px;
        &_Text {
            width: 100px;
            color: var(--Black-4);
            text-align: center;
            margin-left: 80px;
            transition: color 0.3s ease-out;

            &:nth-of-type(1) {
                margin-left: 0px;
            }

            &__Active {
                color: var(--Blue-1);
            }
        }
    }
}

@media screen and (max-width: 1365px) {
    .Range {
        padding: 20px;
        flex-direction: row-reverse;
        align-items: center;
        &_InputContainer {
            flex-direction: column;
            margin-left: 10px;
            &_Circle {
                margin-left: 0;
                margin-top: 150px;
                &:nth-of-type(1) {
                    margin-top: 0px;
                }
                &:checked {
                    @for $i from 1 through $numOfElements {
                        &:nth-of-type(#{$i}) ~ .Range_InputContainer_Indicator {
                            margin-left: 0;
                            margin-top: #{180 * ($i - 1) + 7px};
                        }
                    }
                }
            }

            &_Indicator {
                margin-top: 7px;
                margin-left: 0;
            }

            &_Line {
                height: #{($numOfElements * 30px) + (150px * ($numOfElements - 1))};
                width: 4px;
            }
        }

        &_TextContainer {
            margin-top: 0;
            margin-left: 0px;
            flex-direction: column;
            align-items: flex-end;
            &_Text {
                display: flex;
                height: 100px;
                width: fit-content;
                margin-left: 10px;
                margin-top: 80px;
                writing-mode: vertical-rl;
                align-items: center;
                justify-content: center;

                &:nth-of-type(1) {
                    margin-left: 0px;
                    margin-top: 0px;
                }
            }
        }
    }
}
